<div class="main-block">
  <div class="item-name">
    <h2><%= @item.name %></h2>
  </div>
  <div class="lender-name">
    <h3> borrowing from <%= @item.user.username %></h3>
    <div class="lender-avatar">

    </div>
  </div>
  <div class="borrowing-period">
    <h3> Borrowing period: <%= @exchange.start_date  %> to <%= @exchange.end_date%></h3>
  </div>
  <div class="pickup-location">
    <h3> Meguro 9-12-3 behind dumpster </h3>
  </div>
  <div class="home-button">
  <%= link_to "home", root_path, class: "btn btn-primary" %>
  </div>
</div>
