<div class="main-block">
  <h1>Request Confirmed!</h1>
  <div class="item-description">
    <div class="item-info">
      <div class="item-name">
        <h3>Item: <%= @item.name %></h3>
      </div>
      <div class="lender-name">
        <h4>from: <%= @item.user.username %><%= @item.user.photo %></h4>
        <div class="lender-avatar">
        </div>
      </div>
    </div>
    <div class="item-image">
      <img src="<%= @item.photo %>">
    </div>
  </div>
  <div class="borrowing-period">
    <h4>Borrowing period: <%= @exchange.start_date  %> to <%= @exchange.end_date%></h4>
  </div>
  <div class="pickup-location">
    <div class="location-address">
      <h4>Pickup location: <%= @item.user.location.capitalize %> behind dumpster</h4>
    </div>
    <div class="location-map">
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=true&maptype=roadmap&markers=color:red|#{@item.user.location + " station"}" %>
      <%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@item.user.location}"%>
    </div>
  </div>
  <div class="home-button">
  <%= link_to "home", root_path, class: "btn" %>
  </div>
</div>
