<%= simple_form_for([current_user, @item]) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="container">
    <div class="form-container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <%= f.label :"Add new item" %>
          <br>
          <%= f.text_field :name, placeholder:"ex. chainsaw"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6" id="description">
          <%= f.label :"Add a short description" %>
          <br>
          <%= f.text_area :description, placeholder:"ex. an old but good chainsaw that cuts well", style: "width: 100%; height: 200px"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <%= f.label :token_value %>
          <br>
          <%= f.text_field :token_value %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <%= f.input :photo, input_html: { class: "btn" } %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-5 col-sm-6">
        <%= f.submit "Submit", class: "btn" %>
      </div>
    </div>
  </div>

<% end %>
