<div class="container">
  <div class="item-container">
    <div class="item-details">
      <div class="item-user-details">
        <div class="item-details-name">
          <h4 class="center-align"><%= @item.name %></h4>
        </div>
        <div class="item-details-user">
          <div class="username">
            <h6> <%= @item.user.username %></h6>
          </div>
          <div class="user-avatar">
            <img src="https://kitt.lewagon.com/placeholder/users/<%= @item.user.username %>">
          </div>
        </div>
      </div>
      <div class="item-details-desc">
        <p><%= @item.description %></p>
      </div>
      <% @exchange.errors.full_messages.each do |error| %>
      <p style="color: red;"><%= error %></p>
    <% end %>
    </div>

    <div class="item-request">
      <div class="item-request-photo">
        <%= cl_image_tag @item.photo, class: "item-request-photo" %>
      </div>
      <div class="item-request-form">
        <%= simple_form_for [@item, @exchange] do |f| %>
          <%= f.error :start_date, id: 'start_date_error' %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.error :end_date, id: 'end_date_error' %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.submit "Request to borrow", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
